div.hourly-li {
    font-size: 1.2rem;
    border-radius: 0.5rem;
    padding: 10px;
    color: white;
    font-family: 'Indie Flower', sans-serif;
    background-image: url("../images/background.jpg");
    background-size: cover;
    margin: 0.4em;
}

div.hourly-li:hover {
    transition: 0.3s;
    color: black;
    text-align: center;
    background-image: url("../images/SkyBG.jpg");
    box-shadow: 0px 0px 50px -5px #000000;
    transform: rotate(14deg);
    transform: scale(1.2);
}